<div class="landing-wrapper">
  <div class="confirmation-icon"><img src="{{baseUrl}}img/icons/confirmation.svg" /></div>
  <div class="title">Welcome to Earned Admission</div>
  <p class="intro-text">Earned Admission is a series of first-year courses through Global Freshman Academy that count toward your degree. Finish these courses with the necessary GPA to become eligible for admission to ASU.</p>
  <p class="intro-text">Ready to get started? Great, it’ll only take 3-5 minutes.</p>
  <md-button class="large-round active" ng-click="next()">Get Started</md-button>
</div>
<div class="gold-background start-hidden"><img src="{{baseUrl}}img/gold_block.svg"></img></div>
<img class="asu-logo" src="{{baseUrl}}img/asu_logo.svg" />
